.top{
    text-align: center;
   color: whitesmoke;
}
body{
    background-color: rgb(53, 53, 53);
    color: whitesmoke;
}

header {
    font-family: "Tangerine";
    font-size: 72px;
    font-style: "normal";
}

.text {
    
}